.hangman {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;

  .hangmanImage {
    height: 150px;
  }

  .life {
    height: 30px;
    display: flex;
    gap: 15px;

    .image {
      width: 28px;
      height: 28px;
    }
  }
  .field {
    display: flex;
    height: 50px;
    gap: 10px;

    .cell {
      width: 30px;
      height: 30px;
      border-bottom: 2px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: bold;
      color: rgb(0, 158, 45);
    }
  }
}

@media screen and (max-width: 530px) {
  .hangman {
    gap: 10px;
  }
}